<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <title>用户信息</title>
    <link rel="stylesheet" href="/layui/css/layui.css" media="all" />
</head>
<body>
<form class="layui-form">
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">资料</div>
                <div class="layui-card-body" pad15="">

                    <!--<div class="layui-form" lay-filter="">-->
                        <div class="layui-form-item">
                            <label class="layui-form-label">用户名</label>
                            <div class="layui-input-inline">
                                <input type="text" name="username" th:value="${user.username}" readonly="" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">姓名:</label>
                            <div class="layui-input-inline">
                                <input type="text" name="nickname" th:value="${user.nickname}" readonly="" class="layui-input">
                            </div>
                            <!--<label class="layui-input-inline" style="border-style: ridge"><shiro:principal property="nickname"/></label>-->
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">性别</label>
                            <div class="layui-input-block">
                                <input type="radio" name="sex" value="1" title="男" th:checked = "${user.sex}=='1'?true:false">
                                <input type="radio" name="sex" value="0" title="女" th:checked = "${user.sex}=='0'?true:false"/>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">头像</label>
                            <div class="layui-input-inline layui-btn-container" style="width: auto;">
                                <button type="button" class="layui-btn layui-btn-primary" id="fileuploadbtn">
                                    <i class="layui-icon"></i>上传图片
                                </button>
                                <input class="layui-upload-file" type="file" accept="undefined" name="file">
                            </div>
                            <div>
                                <img th:src="${user.image}" width="50px" height="50px" id="userFace">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">手机</label>
                            <div class="layui-input-inline">
                                <input type="text" name="cellphone" th:value="${user.phone}" lay-verify="phone" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">邮箱</label>
                            <div class="layui-input-inline">
                                <input type="text" name="email" th:value="${user.email}" lay-verify="email" autocomplete="off" class="layui-input">
                            </div>
                        <!--</div>-->
                        <!--<div class="layui-form-item">-->
                            <!--<div class="layui-input-block">-->
                                <!--<button class="layui-btn" lay-submit="" lay-filter="setmyinfo">确认修改</button>-->
                                <!--<button type="reset" class="layui-btn layui-btn-primary">Reset</button>-->
                            <!--</div>-->
                        <!--</div>-->
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
</form>
<script type="text/javascript" src="/layui/layui.js"></script>
<script type="text/javascript">
    layui.use(['jquery', 'form', 'layer', 'upload'], function () {
        $ = layui.$,
            upload = layui.upload,
            form = layui.form,
            layer = layui.layer;
        //上传
        upload.render({
            elem: '#fileuploadbtn',
            url: '/file/uploadfaceimg/',
            // field: 'test',
            // before: function (obj) {
            //     //预读本地文件示例，不支持ie8
            //     obj.preview(function (index, file, result) {
            //         $('#userFace').attr('src', result); //图片链接（base64）
            //     });
            //     layer.load(2, {
            //         shade: [0.3, '#333']
            //     });
            // },
            done: function (res) {
                layer.closeAll('loading');
                //如果上传失败
                if (res.data == 'success') {
                    layer.msg("上传成功", {time: 1000}, function () {
                        // $("input[name='icon']").val(res.data.url);
                        $('#userFace').attr('src', res.url);
                    })
                } else {
                    return layer.msg('上传失败');
                }
            }
        })
    })
</script>
</body>
</html>