<div class="top-main">
    <div class="page-width clearfix">
        <!--
          <div class="logo" skinobjectzone="HtmlLogo_457"><a href="/"><img src="/skin/img/c245787a-2c13-4fe0-bd9a-370ab626ecfc_0_80.png" alt="中山碧儿时装" height="80" /></a></div>
          -->
        <!-- end of logo --><!-- S language -->
        <div class="language" skinobjectzone="HtmlLanguage_515">
            <ul class="sf-menu">
                <li><a class="first-level" href="javascript:;"><span><em>中文简体</em></span></a>
                    <ul>
                        <li><a href="/en"><span><em>ENGLISH</em></span></a></li>
                        <li><a href="/cn"><span><em>中文简体</em></span></a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- E language --><!-- S top-main-content -->
        <div class="top-main-content"><!-- S nav -->
            <div class="nav">
                <div class="main-nav clearfix" skinobjectzone="menu_752">
                    <ul class="sf-menu">
                        <li ><a class="first-level" href="/cn" target=""><strong>首页</strong></a><i></i></li>
                        <li class=""><a class="first-level" href="/cn/About/Coprofile/" target=""><strong>关于我们</strong></a><i></i>
                            <ul class="">
                                <li class=""><a class="" href="/cn/About/Coprofile" target=""><strong>企业简介</strong></a></li><li class=""><a class="" href="/cn/About/Coculture" target=""><strong>企业文化</strong></a></li><li class=""><a class="" href="/cn/About/History" target=""><strong>发展历程</strong></a></li><li class=""><a class="" href="/cn/About/Fullview" target=""><strong>生产实景</strong></a></li>
                            </ul>
                        </li><li class=""><a class="first-level" href="/cn/Products/" target=""><strong>产品中心</strong></a><i></i>
                        <ul class="">
                            <li class=""><a class="" href="/cn/Products/Wedding" target=""><strong>婚纱</strong></a></li><li class=""><a class="" href="/cn/Products/Accessories" target=""><strong>婚饰</strong></a></li><li class=""><a class="" href="/cn/Products/Canonicals" target=""><strong>晚装</strong></a></li><li class=""><a class="" href="/cn/Products/Fashion" target=""><strong>时装</strong></a></li><li class=""><a class="" href="/cn/Products/Evening_dress" target=""><strong>毕业装</strong></a></li>
                        </ul>
                    </li><li class=""><a class="first-level" href="/cn/Show/" target=""><strong>样衣展示</strong></a><i></i>
                        <ul class="">

                        </ul>
                    </li><li class=""><a class="first-level" href="/cn/News/" target=""><strong>新闻资讯</strong></a><i></i>
                        <ul class="">
                            <li class=""><a class="" href="/cn/News/Conews" target=""><strong>公司新闻</strong></a></li><li class=""><a class="" href="/cn/News/Innews" target=""><strong>行业动态</strong></a></li><li class=""><a class="" href="/cn/News/wiki" target=""><strong>服饰百科</strong></a></li><li class=""><a class="" href="/cn/News/Video" target=""><strong>视频中心</strong></a></li>
                        </ul>
                    </li><li class=""><a class="first-level" href="/cn/Contact/" target=""><strong>联系我们</strong></a><i></i>
                        <ul class="">

                        </ul>
                    </li>

                    </ul>
                </div>
            </div>
            <!-- E nav--></div>
        <!-- E top-main-content --></div>
</div>
<!-- E top-main -->